<a href="https://colab.research.google.com/github/jackty9/Feature_Selection_in_Python/blob/master/Medium_Feature_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import pandas as pd

# generate dataset
X, y = make_regression(n_samples=100, n_features=50, n_informative=10)
#assign column names 
col_list = ['col_' + str(x) for x in range(0,50)]
#create a dataframe table
df = pd.DataFrame(X, columns=col_list)

#feature selection using f_regression 
fs = SelectKBest(score_func=f_regression, k=5)
fit = fs.fit(X,y)
#create df for scores
dfscores = pd.DataFrame(fit.scores_)
#create df for column names
dfcolumns = pd.DataFrame(df.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
#naming the dataframe columns
featureScores.columns = ['Selected_columns','Score_regression'] 
#print 10 best features
print(featureScores.nlargest(5,'Score_regression'))

   Selected_columns  Score_regression
19           col_19         28.122188
38           col_38         23.213213
0             col_0         20.787717
15           col_15         17.705755
20           col_20          8.385208

In [11]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd

data = load_wine()
df = pd.DataFrame(data= np.c_[data['data'], data['target']], columns= data['feature_names'] + ['target'])
df

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0      14.23        1.71  2.43  ...                          3.92   1065.0     0.0
1      13.20        1.78  2.14  ...                          3.40   1050.0     0.0
2      13.16        2.36  2.67  ...                          3.17   1185.0     0.0
3      14.37        1.95  2.50  ...                          3.45   1480.0     0.0
4      13.24        2.59  2.87  ...                          2.93    735.0     0.0
..       ...         ...   ...  ...                           ...      ...     ...
173    13.71        5.65  2.45  ...                          1.74    740.0     2.0
174    13.40        3.91  2.48  ...                          1.56    750.0     2.0
175    13.27        4.28  2.26  ...                          1.56    835.0     2.0
176    13.17        2.59  2.37  ...                          1.62    840.0     2.0
177    14.13        4.10  2.74  ...                          1.60    560.0     2.0

[178 rows x 14 columns]